@model IEnumerable<PropertyAdvertiser.Services.Advertiser.Models.AdvertiserListViewModel>
@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkForAcency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SellingsCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LettingsCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortLettingsCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastAdDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkForAcency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LettingsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortLettingsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastAdDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
